<li class="{{className}}">
  {{#with message}}
  <span>{{content}}</span>
  <footer class="{{../styles.message__item__footer}}">
    {{#is_read}}<span class="{{../../styles.status}}">✓✓</span>{{/is_read}}
    <span class="{{../styles.time_label}}">{{../time}}</span>
  </footer>
  {{/with}}
</li>