<div>
  {{avatar size="x-large"}}
</div>
<div class="flex-column flex-1 message__data">
  <div class="flex-sb header">
    <span class="author">{{author}}</span>
    <span class="time">{{time}}</span>
  </div>
  <div class="flex-sb flex-1 message">
    <div class="flex-1 content">
      {{#lastMessage}}
        <span>
          {{#isOutgoing}}<b>Вы:</b>{{/isOutgoing}}
          {{this.content}}
        </span>
      {{/lastMessage}}
    </div>
    <div class="count">
      {{#if messageCount}}
        <div class="blue circle small">
          {{messageCount}}
        </div>
      {{/if}}
    </div>
  </div>
</div>