<aside class="flex-column-center r-divider">
    <a href="./chats" class="button circle blue large left ">➜</div>
</aside>
<main class="flex-column-center flex-1">
  <header>
    {{settingsAvatar}}
  </header>
  <form class="flex-column-center">
    {{settingsFieldList
      fields=fields
      hidden=false
      id="profileForm"
    }}
    {{settingsFieldList
      fields=passwordChangeFields
      hidden=true
      id="passwordForm"
    }}
    {{settingsFormSubmit
      text="Сохранить"
      name="save"
      hidden=true
      error=false
    }}
  </form>
  <footer>
    {{settingsActions}}
  </footer>
</main>
<dialog>
  <form method="dialog" >
    <header>
      <h1>Загрузите фаил</h1>
    </header>
    <label for="avatarInput">
      <button class="text primary">Выбрать файл на компьютере</button>
      <input type="file" name="avatar" id="avatarInput" hidden>
    </label>
    {{settingsFormSubmit
      text="Поменять"
      name="saveAvatar"
      error=false
    }}
  </form>
</dialog>
<script src="../js/profile.js" type="module"></script>