<ul>
    {{#each messages}}
    <li class="{{#if outgoing}}outgoing{{else}}incoming{{/if}} {{#if image}}image__wrapper{{else}}text__wrapper{{/if}}">
        {{#if image}}
            <img src={{image}} />
            <div class="time_label grey">{{time}}</div>
        {{else}}
            <p>{{ text }}</p>
            <div class="time_label">
                {{#if delivered}}
                    <span class="status">✓✓</span>
                {{/if}}
                <span>{{time}}</span>
            </div>
        {{/if}}
    </li>
    {{/each}}
</ul>