<label for="attach" class="{{styles.label}}">
  {{#icon}}<img src={{this}} class="{{styles.medium}}" />{{/icon}}
  {{#label}}{{this}}{{/label}}
  <input type="file" name="attach" id="attach" class="{{styles.attach}}" />
</label>