<label>{{ label }}</label>
<input
  type={{ inputType }}
  name={{ name }}
  {{#if required}}required{{/if}}
  {{#value}}value="{{ this }}"{{/value}}
  class={{#variant}}{{this}}{{/variant}}
  {{#readonly}}readonly{{/readonly}}
/>
