<button class="{{styles.image_button}}" type="button">
  <img src="{{image}}" class="{{styles.image_button__image}}" title="{{label}}" />
  <p class="{{styles.image_button__label}}">{{label}}</p>
</button>