{{#if image}}
  <img src={{image}} />
  <div class="time_label">{{time}}</div>
{{else}}
  <span>{{text}}</span>
  <div class="time_label">
    {{#delivered}}<span class="status">✓✓</span>{{/delivered}}
    <span>{{time}}</span>
  </div>
{{/if}}