{{#if src}}
    <img
        src={{ src }}
        alt="avatar"
        class="circle{{#size}}  {{ this }}{{/size}}{{#className}} {{ this }}{{/className}}"
    />
{{else}}
    <div
        class="avatar circle{{#size}} {{ this }}{{/size}}{{#className}} {{ this }}{{/className}}"
    ></div>
{{/if}}