<li class="b-divider flex-sb">
  <label for="{{name}}">{{field.label}}</label>
  <input
    class="none-border"
    name="{{name}}"
    type="{{field.type}}"
    id="{{name}}"
    placeholder="{{field.placeholder}}"
  />
</li>